# Virtual environment files
venv

# Code editor files
*.sublime-workspace
*.sublime-project

# Operating system files
*.DS_Store

# Local DB ignored after initial commit
db.sqlite3

# Python cache
__pycache__